**/__pycache__
.vscode/
templates/node_modules
.DS_Store
.env
templates/public/Unity-Game-WebGL-Builds/*
Build/
templates/package-lock.json
templates/package.json
node_modules/


# Upload-related folders
deletes/*
!deletes/.gitkeep
images/*
!images/.gitkeep
audios/*
!audios/.gitkeep
temp_uploads/*
!temp_uploads/.gitkeep
user_audio_files/*

# Other
*.sql


### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.venv/

# Large dependency directories
LanguageTool-6.4/
llama.cpp/
temp_exports/

# Game related files
*.data
*.framework.js
*.loader.js
*.wasm
