**/__pycache__
deletes
uploads
.vscode/
templates/node_modules
.DS_Store
.env
templates/Build/UnityLoader.js
templates/Build/Builds.wasm.framework.unityweb
templates/Build/Builds.wasm.code.unityweb
templates/Build/Builds.json
templates/Build/Builds.data.unityweb
Build/
templates/package-lock.json
templates/package.json


### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf