/* Tailwinds imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../fonts/ConversAItionELLE/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Irish Grover';
  src: url('../fonts/ConversAItionELLE/Irish_Grover/IrishGrover-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.irish-grover {
  font-family: "Irish Grover", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Palm Tree Background */

.talkwithtito-body{
   /* Full viewport height */
  background-image: url('../images/ConversAItionELLE/trees.png');
  background-color: #D4ECF2;
  background-size: 50%;
  padding: 10px 0px;
}


/* Game container */
.game-container{
  position: relative;
  margin-top: 5em;
  width: 1100px;
  height: 650px;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.game-background{
  width: 100%;
  height: 100%;
}

/* Tito Picture */
.tito-overlay{
  position: absolute;
  width: 45%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: Tito-spin infinite 20s linear;
  transform-origin: center;
}

@keyframes Tito-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes Tito-pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes Tito-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-animation {
  animation: Tito-pop 0.6s ease-out forwards;
}

/* Tito Statements */
.text-overlay{
  color: white;
  position: absolute;
  top: 11.5%;             
  left: 50%; 
  transform: translate(-50%, -50%);
}

.play-loading-button {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Info Boxes (Probably want to do vw at with media query for mobile) */

.info-container{
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin-bottom: 50px;
}

.info-box{
  width: 25%;
  background-color: #997c54;
  color: white;
  padding: 20px;
  border: 2px solid #604e34;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #604e34;
}

.info-box ul {
  font-size: 1.5vw;
}

.info-box2{
  width: 25%;
  box-sizing: border-box;
  background-color: #997c54;
  color: white;
  padding: 20px;
  border: 2px solid #604e34;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #604e34;
}

/* Font Styling */
.inter-font h1{
  font-weight: 500;
  font-size: 2.5vw;
  margin-bottom: 10px;
  text-shadow:
    -2px -2px 0 rgba(0, 0, 0, 0.300),  
     2px -2px 0 rgba(0, 0, 0, 0.300),  
    -2px  2px 0 rgba(0, 0, 0, 0.300),  
     2px  2px 0 black;
  text-align: center
}

.inter-font h3{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5vw;
  margin-bottom: 10px;
}

.inter-font p{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9vw;
}

/* Tito Animation - Thinking */
.tito-thinking {
  animation: Tito-pulse 2.5s ease forwards infinite;
}

.tito-typing::placeholder{
  font-style: italic;
}